<%@ Master Language="C#" MasterPageFile="~/Master/Site.Master" AutoEventWireup="true" CodeBehind="Pc.master.cs" Inherits="Web.Master.Pc" %>
<asp:Content ID="Body" ContentPlaceHolderID="Body" runat="server">
    <header class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-windows"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <asp:contentplaceholder id="MainContent" runat="server" />
    </div>
    <footer class="navbar navbar-default">
        <div class="container text-center">
            &nbsp;
        </div>
    </footer>
</asp:Content>
