<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DB"
         connectionString="Data Source=MIYATA-VIRTUAL\SQLEXPRESS;Initial Catalog=sampleDB;Integrated Security=false;UID=samadmin;PWD=1919;" />
  </connectionStrings>
</configuration>