<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=MIYATA-VIRTUAL\SQLEXPRESS;Initial Catalog=sampleDB;Integrated Security=false;UID=samadmin;PWD=1919;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>