<?xml version="1.0"?>
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=MIYATA-VIRTUAL\SQLEXPRESS;Initial Catalog=sampleDB;Integrated Security=false;UID=samadmin;PWD=1919;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="On">
      <error statusCode="404" redirect="/ErrorPages/404.aspx" />
      <error statusCode="500" redirect="/ErrorPages/404.aspx" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <add name="DebugDisplay" type="Sunrise.HttpModule.DebugDisplay" />
    </modules>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/ErrorPages/404.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" path="/ErrorPages/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>